@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

.footerClass {
  background-image: linear-gradient(to left, #e6dada, #274046);
  width: 100%;
  height: 100px;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid black;
  margin-bottom: 2px;
}

.footerClass li {
  display: block;
}

.footerUl {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.footerUl li {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 20%;
}

.footerUl li a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.footerClass li:hover {
  background-color: black;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  transition: ease-in-out 0.1s;
}

i {
  padding-right: 10px;
  font-size: xx-large;
}

.imgLogo {
  display: flex;
  margin: auto;
  width: 270px;
  margin-bottom: 35px;
}

.imgStores {
  display: flex;
  height: 90%;
  width: 50%;
  margin-bottom: 50px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px; */
}

.grid-container2 > div {
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.imgProduct {
  border: 1px solid;
  margin-bottom: 40px;
  width: 50%;
}

.carousel {
  width: 45%;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgHype {
  margin-bottom: 40px;
  width: 100%;
  margin: 7px;
}

.animate__animated1 {
  animation-duration: 1s;
}

.animate__animated {
  animation-duration: 2.5s;
}

.animate__infinite {
  animation-duration: infinite;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1610016302534-6f67f1c968d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWlsYW4lMjBjYXRoZWRyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner2 {
  background-image: url("https://images.unsplash.com/photo-1581284382147-8b53861126f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Escritorio*/
@media (min-width: 1200px) {
  body {
    background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
  }
}
/*Landscape*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
  body {
    background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
  }
}
/*Tablet*/
@media (min-width: 576px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  }
}
/*Móvil*/
@media (min-width: 576px) and (orientation: portrait) {
  body {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  }
}
.textDiv {
  display: flex;
}

.text {
  margin: 15px;
  padding-bottom: 25px;
  font-size: 16px;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #FAD7AF);
  border: 1px solid black;
  text-align: center;
}

.textIndexDiv {
  display: flex;
  justify-content: flex-end;
}

.textIndex {
  margin: 10px;
  padding-bottom: 15px;
  font-size: 16px;
  color: black;
  margin-bottom: 25px;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
}

p {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.infoProd {
  display: flex;
  justify-content: center;
}

.infoContProd {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.boxContProd {
  display: flex;
  justify-content: center;
}

.textProdDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textProduct {
  margin-bottom: 100px;
  font-size: 16px;
  color: black;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
}

.textAbout {
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
}

.textSupportDiv {
  display: flex;
}

#idText {
  margin-bottom: 150px;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
}

.copyrights {
  font-size: 14px;
  width: 90%;
}

.copyright-link {
  text-decoration: none;
  color: white;
}

.title {
  color: black solid;
  font-size: 15px;
  margin-bottom: 18px;
  text-align: center;
}

.h1Title {
  margin-bottom: 15px;
}

h3 {
  flex-direction: column;
  background-color: #ed1c24;
  border-radius: 20px;
  margin: 10px;
  font-size: 40px;
  font-family: ‘Georama’, sans-serif;
  color: white;
}

.h1Contact {
  font-size: 40px;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
}

.h1Hype {
  font-size: 40px;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
}

.h1Product {
  font-size: 40px;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.h1About {
  font-size: 40px;
  color: white;
  background-color: #ed1c24;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.h1Support {
  font-size: 40px;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 100px;
  border-radius: 20px;
  text-align: center;
}

.videoAbout {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.videoCont {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
}

.moveColab {
  display: flex;
  justify-content: center;
  align-self: center;
}

.aboutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ed1c24;
  border-radius: 20px;
  margin: 70px;
  margin-bottom: 10px;
  font-size: 35px;
  font-family: ‘Georama’, sans-serif;
  color: white;
  height: 70px;
  width: 245px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  padding: 10px;
}

.grid-container > div {
  background-image: linear-gradient(to right, #e6dada, #274046);
  text-align: center;
  padding: 30px;
  font-size: 30px;
  border: 1px solid black;
}

form {
  margin-bottom: 250px;
  font-size: 10px;
  margin-left: 5px;
  border: 1px solid black;
}

.form1 {
  background-color: lawngreen;
  align-content: center;
}

.dropdown-menu > li a:hover {
  background-color: red;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  height: 150px;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  width: 99.5%;
}

/*# sourceMappingURL=style.css.map */
