@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

.footerClass {
  background-image: linear-gradient(to left, #e6dada, #274046);
  width: 100%;
  height: 6em;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  font-weight: bold;
  border: 3px solid black;
  margin-bottom: 0em;
}

.footerClass li {
  display: block;
}

.footerUl {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}

.footerUl li {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 20%;
}

.footerUl li a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.footerClass li:hover {
  background-color: black;
  padding: 1.5rem;
  border-radius: 3em;
  text-align: center;
  transition: ease-in-out 0.1s;
}

i {
  margin-bottom: 0.3em;
  padding-right: 0em;
  font-size: xx-large;
}

.hovicon.effect-1.sub-a:hover {
  background: white;
  color: #41ab6b;
}

.hovicon.effect-1.sub-a:hover i {
  color: #41ab6b;
}

.hovicon.effect-1.sub-a:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.imgLogo {
  display: flex;
  margin: auto;
  width: 270px;
  margin-bottom: 35px;
}

.imgStores {
  display: flex;
  height: 80%;
  width: 100%;
  margin-bottom: 5em;
}

.boxImgNy {
  grid-area: myArea;
}

.boxImgFu {
  grid-area: myArea2;
}

.boxImgMi {
  grid-area: myArea3;
}

.grid-container2 {
  display: grid;
  grid-template-areas: "myArea myArea2 myArea3";
}

/* .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
}

.grid-container2>div {
    text-align: center;
    padding: 30px;
    font-size: 30px;
} */
.imgProduct {
  border: 1px solid;
  margin-bottom: 4em;
  width: 50%;
}

.carousel {
  width: 60%;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgHype {
  margin-bottom: 40px;
  width: 100%;
  margin: 1em;
  aspect-ratio: 1/1;
}

.animate__animated1 {
  animation-duration: 1s;
}

.animate__animated {
  animation-duration: 2.5s;
}

.animate__infinite {
  animation-duration: infinite;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1610016302534-6f67f1c968d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWlsYW4lMjBjYXRoZWRyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner2 {
  background-image: url("https://images.unsplash.com/photo-1581284382147-8b53861126f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Escritorio*/
@media (min-width: 1200px) {
  body {
    background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
  }
}
/*Landscape*/
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
  body {
    background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
  }
}
/*Tablet*/
@media (min-width: 576px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  }
}
/*Móvil*/
@media (min-width: 576px) and (orientation: portrait) {
  body {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  }
}
.textDiv {
  display: flex;
}

.text {
  margin: 1.5rem;
  margin-bottom: 50em;
  padding-bottom: 2.5em;
  font-size: 1rem;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #FAD7AF);
  border: 1px solid black;
  text-align: center;
}

.textIndexDiv {
  display: flex;
  justify-content: flex-end;
}

.textIndex {
  margin: 1em;
  padding-bottom: 1.5em;
  font-size: 1em;
  color: black;
  margin-bottom: 2.4em;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
}

p {
  color: black;
}

.infoProd {
  display: flex;
  justify-content: center;
}

.infoContProd {
  display: flex;
  justify-content: center;
  padding-left: 1.9em;
  padding-right: 1.9em;
  flex-wrap: wrap;
}

.boxContProd {
  display: flex;
  justify-content: center;
}

.textProdDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textProduct {
  margin-bottom: 10em;
  font-size: 1em;
  color: black;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
}

.textAbout {
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
}

.textSupportDiv {
  display: flex;
}

#idText {
  margin-bottom: 50em;
  background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
}

.copyrights {
  font-size: 0.9em;
  width: 90%;
}

.copyright-link {
  text-decoration: none;
  color: white;
}

.title {
  color: black solid;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.h1Title {
  margin-bottom: 0.9em;
}

h3 {
  flex-direction: column;
  background-color: #ed1c24;
  border-radius: 2px;
  margin: 1em;
  font-size: 2.2em;
  font-family: ‘Georama’, sans-serif;
  color: white;
  text-align: center;
}

.h1Contact {
  font-size: 2.2em;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 1em;
  border-radius: 2px;
  text-align: center;
}

.h1Hype {
  font-size: 2.2em;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 1em;
  border-radius: 2px;
  text-align: center;
}

.h1Product {
  font-size: 2.2em;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 1em;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.h1About {
  font-size: 2.2em;
  color: white;
  background-color: #ed1c24;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 1.8em;
}

.moveColab {
  display: flex;
  justify-content: center;
  align-self: center;
}

.aboutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ed1c24;
  border-radius: 2px;
  margin: 0.8em;
  margin-bottom: 2em;
  font-size: 2.2em;
  font-family: ‘Georama’, sans-serif;
  color: white;
  height: 30%;
  width: 100%;
}

.h1Support {
  font-size: 2.2em;
  color: white;
  background-color: #ed1c24;
  margin-bottom: 1em;
  border-radius: 2px;
  text-align: center;
}

.videoCont {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 15em;
  font-size: 1em;
  margin-left: 0.5em;
  border: 1px solid black;
}

.dropdown-menu > li a:hover {
  background-color: red;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  height: 5em;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  width: 99.5%;
}

/*# sourceMappingURL=style.css.map */
