        .card {
            background-image: linear-gradient(313deg, #646569 0%, #646569 23%, #0d0c0c 100%);
            color: white;
        }
        
        .btn {
            background-color: white;
            color: #ed1c24;
            border-color: #ed1c24;
        }
        
        .btn:hover {
            background-color: #ed1c24;
            color: white;
            border-color: white;
        }
        
        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 4em;
            width: 100vw;
        }
        
        .flex-container-card {
            margin-top: 4em;
            margin-bottom: 4em;
            width: 100vw;
        }
        
        #card-four {
            font-size: 2.2em;
            color: white;
            margin-bottom: 1em;
        }
        
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
        }
        
        .card-title {
            font-size: 1.6em;
        }
        
        #card-text-text {
            font-size: 1.1em;
        }
        
        #card-group-one,
        #card-group-two,
        #card-group-three,
        #card-group-four {
            margin-bottom: 3em;
        }
        
        .container-card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }