.imgLogo {
    display: flex;
    margin: auto;
    width: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    width: 100vw;
}

.imgstore {
    height: 15em;
}

.imgProduct {
    border: 1px solid;
    margin-bottom: 4em;
    width: 50%
}

.carousel {
    width: 100vw;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.imgHype {
    width: 100%;
    margin: 1em;
    aspect-ratio: 1 / 1;
}

.animate__animated1 {
    animation-duration: 1s;
}

.animate__animated {
    animation-duration: 2.5s;
}

.animate__infinite {
    animation-duration: infinite;
}

.banner {
    background-image: url("https://images.unsplash.com/photo-1522083165195-3424ed129620?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1297&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 35em;
}

.banner2 {
    background-image: url("https://images.unsplash.com/photo-1581284382147-8b53861126f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 35em;
}

.banner3 {
    background-image: url("https://images.unsplash.com/photo-1558452919-08ae4aea8e29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=688&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 35em;
}

.support-text-title {
    position: absolute;
    bottom: 5%;
}

.support-text {
    top: 20em;
    background-color: black;
}

.container-support {
    display: flex;
    flex-direction: column;
}

.imgCarousel {
    margin-bottom: 8em;
    width: 50vw;
    margin-left: 25%;
    align-content: center;
    aspect-ratio: 1 / 1;
}