.locationNy {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
}

.locationMilano {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
}

.locationFukuoka {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
}