  /*Escritorio*/
  
  @media (min-width: 1200px) {
      .videodiv {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }
  }
  /*Landscape*/
  
  @media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
      .videodiv {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }
  }
  /*Tablet*/
  
  @media (min-width: 600px) and (max-width: 992px) {
      .videodiv {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }
  }
  /*Móvil*/
  
  @media (min-width: 576px) and (max-width: 600px) and (orientation: portrait) {
      .videodiv {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }
  }