    .dropdown-menu {
        color: white;
        background-color: #ed1c24;
        border-color: white;
    }
    
    .dropdown-menu>li a:hover {
        background: #ed1c24;
        color: white;
    }
    
    .dropdown-item {
        color: white;
    }
    
    #dinamicnav {
        z-index: 3;
    }
    
    .header .navbar {
        background-color: transparent !important;
        font-size: large;
    }
    
    #navlink1,
    #navlink2,
    #navlink3,
    #navlink4,
    #navlink5,
    #navbarDropdownMenuLink {
        color: white;
        font-weight: bold;
    }