.textDiv {
    display: flex;
}

.text {
    margin: 1.5rem;
    margin-bottom: 50em;
    padding-bottom: 2.5em;
    font-size: 1rem;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #FAD7AF);
    border: 1px solid black;
    text-align: center;
}

.textIndexDiv {
    display: flex;
    justify-content: flex-end;
}

.textIndex {
    margin: 1em;
    padding-bottom: 1.5em;
    font-size: 1em;
    color: black;
    margin-bottom: 2.4em;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
    border: 1px solid black;
    text-align: center;
}

p {
    color: black;
}

.infoProd {
    display: flex;
    justify-content: center;
}

.infoContProd {
    display: flex;
    justify-content: center;
    padding-left: 1.9em;
    padding-right: 1.9em;
    flex-wrap: wrap;
}

.boxContProd {
    display: flex;
    justify-content: center;
}

.textProdDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textProduct {
    margin-bottom: 10em;
    font-size: 1em;
    color: black;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
    border: 1px solid black;
    text-align: center;
}

.textAbout {
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
    border: 1px solid black;
    text-align: center;
    font-size: 1em;
}

.textSupportDiv {
    display: flex;
}

#idText {
    margin-bottom: 50em;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
    border: 1px solid black;
    text-align: center;
    font-size: 1em;
}

.copyrights {
    font-size: 0.9em;
    width: 90%;
}

.copyright-link {
    text-decoration: none;
    color: white;
}