.textDiv {
    display: flex;
    width: 100vw;
}

.text {
    font-size: 1.1em;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #FAD7AF);
    border: 1px solid black;
    text-align: center;
}

.textIndexDiv {
    display: flex;
    justify-content: flex-end;
}

.textIndex {
    margin: 1em;
    font-size: 1em;
    color: black;
    margin-bottom: 2.4em;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #D3CFCF);
    border: 1px solid black;
    text-align: center;
}

p {
    color: black;
}

.infoContProd {
    display: flex;
    justify-content: center;
    padding-left: 1.9em;
    padding-right: 1.9em;
    flex-wrap: wrap;
}

.textProduct {
    margin-bottom: 5em;
    font-size: 1em;
    color: black;
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #FAD7AF);
    border: 1px solid black;
    text-align: center;
}

.textAbout {
    background-image: linear-gradient(to right, #F4EEEE, #F4EEEE, #FAD7AF);
    border: 1px solid black;
    text-align: center;
    font-size: 1.1em;
    width: 100vw;
}

.textSupportDiv {
    display: flex;
}

#idText {
    margin-bottom: 50em;
}

.card-text {
    color: white;
}

input {
    width: 100vw;
}

.pwhite {
    font-size: 1em;
    color: white;
}

.card-header {
    color: white;
}