.title {
    color: black solid;
    font-size: 15px;
    margin-bottom: 18px;
    text-align: center;
}

.h1Title {
    margin-bottom: 15px;
}

h3 {
    flex-direction: column;
    background-color: #ed1c24;
    border-radius: 20px;
    margin: 10px;
    font-size: 40px;
    font-family: ‘Georama’, sans-serif;
    color: white;
}

.h1Contact {
    font-size: 40px;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}

.h1Hype {
    font-size: 40px;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}

.h1Product {
    font-size: 40px;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.h1About {
    font-size: 40px;
    color: white;
    background-color: #ed1c24;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.h1Support {
    font-size: 40px;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 100px;
    border-radius: 20px;
    text-align: center;
}