.title {
    color: black solid;
    font-size: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.h1Title {
    margin-bottom: 0.9em;
}

h3 {
    background-color: #ed1c24;
    font-size: 2.2em;
    font-family: ‘Georama’, sans-serif;
    color: white;
    text-align: center;
    width: 100vw;
    margin-bottom: 0.8em;
}

.h1Contact {
    font-size: 2.2em;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 0.5em;
    border-radius: 2px;
    text-align: center;
    width: 100vw;
}

.h1Hype {
    font-size: 2.2em;
    color: white;
    background-color: #ed1c24;
    border-radius: 2px;
    text-align: center;
    width: 100vw;
}

.h1Product {
    font-size: 2.2em;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 0.5em;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.h1About {
    font-size: 2.2em;
    color: white;
    background-color: #ed1c24;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 0.5em;
    width: 100vw;
}

.h1Support {
    font-size: 2.2em;
    color: white;
    background-color: #ed1c24;
    margin-bottom: 1em;
    border-radius: 2px;
    text-align: center;
}

h5 {
    background-color: #ed1c24;
    margin-left: 3.2em;
    margin-right: 3.2em;
    font-size: 2.2em;
    font-family: ‘Georama’, sans-serif;
    color: white;
    text-align: center;
}

.support-text {
    font-size: 1.6em;
    color: white;
    padding: 2em;
    top: 10em;
    width: 100vw;
}

.support-text-title {
    font-size: 2.5em;
    color: white;
    left: 5%;
    bottom: -55%;
    top: 195%;
    color: black;
}

.support-link {
    color: white;
}

.support-link:hover {
    color: #ed1c24;
}

.eco-title {
    margin-top: 5em;
}

.eco-section {
    margin-top: -0.5em;
    background-color: black;
    margin-left: 7em;
    margin-right: 7em;
}