.flex-container-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}

.videodiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}