.flex-container-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.videodiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 7em;
    margin-bottom: 7em;
}